<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presenca">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_presenca"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConsultarDisciplina"></activity>
        <activity android:name=".AdapterFalta" />
        <activity
            android:name=".VerFaltas"
            android:parentActivityName=".TelaInicio" />
        <activity
            android:name=".EditarAluno"
            android:parentActivityName=".TelaInicio" />
        <activity
            android:name=".AdicionarAluno"
            android:parentActivityName=".TelaInicio" />
        <activity
            android:name=".AdicionarRegistro"
            android:parentActivityName=".TelaInicio" />
        <activity
            android:name=".AdicionarClasse"
            android:parentActivityName=".TelaInicio" />
        <activity android:name=".TelaInicio" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
